# Build stuff
IMG_NAME=Raspbian_Plus
APT_PROXY=http://172.17.0.1:3142

# Things likely to change
export CONF_ELASTICSEARCH=1   # 1 to enable, "" to disable
export CONF_SSMTP=1           # 1 to enable, "" to disable
export CONF_FIRSTBOOT=1       # 1 to enable, "" to disable

# Network stuff
TARGET_HOSTNAME=raspberrypi.example.net
export HOST_IP=192.168.1.100
export NET_GATEWAY=192.168.1.1
export NET_DNS=208.67.222.222
export ELASTICSEARCH_IP=192.168.1.100

# Backup stuff
export SYSTEM_EMAIL_RECIPIENT=my.email@example.net

# Samba Credentials
export SMB_USER=<username>
export SMB_PASS=<password>
export SMB_HOST=smb.example.com

# SSMTP stuff
export SSMTP_USER=my.email@example.net
export SSMTP_PASS=GMAIL_APP_PASSWORD
export SSMTP_ROOT_ALIAS=root@mylan.local

# Things unlikely to change
ENABLE_SSH=1
FIRST_USER_NAME=pi
FIRST_USER_PASS=pi
LOCALE_DEFAULT=en_US.UTF-8
TIMEZONE_DEFAULT=America/New_York
KEYBOARD_LAYOUT="English (US)"
